
@{
    ViewData["Title"] = "CadastrarCliente";
}

<h1 class="mb-5">Onboarding</h1>
<form method="post" style="max-width:450px;">
    <div>
        <input type="text" name="nome" value="" class="form-control mt-4" placeholder="Nome" />
        <input type="text" name="cpf" value="" class="form-control mt-4" placeholder="CPF" />
        <input type="text" name="email" value="" class="form-control mt-4" placeholder="E-mail" />
        <input type="text" name="telefone" value="" class="form-control mt-4" placeholder="Telefone" />
        <input type="datetime" name="datanascimento" value="" class="form-control mt-4" placeholder="Data de Nascimento" />
        <input type="password" name="senha" value="" class="form-control mt-4" placeholder="Senha" />
        <input type="submit" value="Cadastrar" class="btn btn-lg btn-outline-secondary btn-block mt-3 mb-2" />
    </div>
</form>



