
@{
    ViewData["Title"] = "Logado";
}

<header>@* Colocar um cabeçalho bonito *@</header>

<h1> Ações </h1>

<div class="mt-5">
    <a href="/Ted/Transferencia" title="Ted" class="btn btn-lg btn-secondary col-md-3">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        TED
    </a>
    <a href="/Extrato/ObterExtrato" title="Extrato" class="btn btn-lg btn-warning col-md-3">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Extrato
    </a>
    <a href="/Home/Index" title="Sair" class="btn btn-lg btn-dark col-md-3">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Sair
    </a>
</div>

