@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-7">
    <img src="~/img/logo.png" height="170" alt="Alternate Text" />
    <h1 class="h3 mt-3 font-weight-normal">Dim Dim Bank</h1>
    <form method="post" style="max-width:300px; margin:auto;">
        <input type="text" name="email" value="" class="form-control mt-3" placeholder="E-mail" />
        <input type="password" name="senha" value="" class="form-control mt-2" placeholder="Senha" />
        <input type="submit" value="Entrar" class="btn btn-lg btn-outline-secondary btn-block mt-3 mb-2" />
    </form>
    @Html.ActionLink(
    linkText: "Não tem conta? Cadastre-se!",
    actionName: "CadastrarCliente",
    controllerName: "Cliente")
</div>
